.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  list-style: none;
}

.movieTitle {
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  width: 255px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.movieItem {
  cursor: pointer;
}

.movieItem:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in;
}

.moviePoster {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
